- if flash[:login]
  .success
    %p= flash[:login]
- if flash[:logout]
  .success
    %p= flash[:logout]
.screen
  .gameboard
    - HORIZONTALS.each_with_index do |row, rowindex| 
      .gamerow
        - row.each_with_index do |p, pindex|
          - if ((pindex % 2 == 0) && (rowindex % 2 == 0)) || (rowindex == pindex)
            %div{:id => "#{p}", :class => "cell #{b[p]} par"}
          - else
            %div{:id => "#{p}", :class => "cell #{b[p]} "}
    .message
      %h1= m
